<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>GitHubClientSecret</key>
	<string>549dc83c9e27fd79871f7e2ef442eefa37ce87bc</string>
	<key>GitHubClientID</key>
	<string>70538e48b1e92eb5834b</string>
</dict>
</plist>
